.DS_Store
*.o
*.so
*.elf
*.dtb
*.zip

build
releases
toolchains
libretro-common

**/cores/src
**/cores/output
**/boot/output

**/other/evtest
**/other/sdl
**/other/sdl12-compat
**/other/unzip60
**/other/DinguxCommander

**/tmp

workspace/hash.txt
workspace/readmes