.DS_Store
*.o
*.so
*.elf
*.dtb
*.zip

build
releases
toolchains
libretro-common

**/cores/src
**/cores/output
**/boot/output
**/squashfs/output

**/other/evtest
**/other/jstest
**/other/dtc
**/other/sdl
**/other/sdl2
**/other/sdl12-compat
**/other/unzip60
**/other/DinguxCommander
**/other/351files
**/other/fbset

**/tmp

workspace/hash.txt
workspace/readmes

FAKESD